<form class="sign-in"  (ngSubmit)="authenticate()">
  <div style="text-align: center">
    <img  class="mb-4" src="/assets/logo.png" alt="" width="120" height="120">
    <h1 style="text-align: center" class="h3 mb-3 font-weight-normal">Please sign in</h1>
  </div>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" name="email" [(ngModel)]="login.email" class="form-control" placeholder="Email" required autofocus="">
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="login.password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" name="rememberMe" [(ngModel)]="login.rememberMe"> Remember me
    </label>
  </div>
  <br>
  <ngb-alert [type]="'success'" *ngIf="loginAlert" >Login successful ✅</ngb-alert>
  <ngb-alert [type]="'danger'" *ngIf="authenticationError" >Wrong username or password 🔴</ngb-alert>
  <button class="btn btn-lg btn-primary btn-block" style="width: 100%" type="submit">Sign in</button>
  <br>
</form>
