<div class="product-container" >
  <swal
    #successSwal
    [timer]="2000"
    text="{{product.name}} added to cart"
    icon="success">
  </swal>
  <a routerLink="/product/{{product.id}}">
    <img class="product-image" alt="Product Image" src="{{product.imageUrl}}">
  </a>
  <p>{{product.name}}</p>
  <p>{{product.price | currency}}</p>
  <select class="select-input" [(ngModel)]="quantity">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
  </select>
  <button class="btn btn-primary" (click)="addToCart(product)">Add To Cart</button>
</div>
